{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
<div class="AdminBox">
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr class="MasterFF">
                <th>Id</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Durée</th>
                <th>Affiche</th>
                <th>DateDeSortie</th>
                <th>Réalisateur</th>
                <th>Acteurs</th>
                <th>Nationnalité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.Titre }}</td>
                <td class="Synopsis">{{ film.Synopsis }}</td>
                <td>{{ film.Duree }}</td>
                <td><img class="AfficheFilm" src="{{ film.BandeAnnonce }}"></td>
                <td>{{ film.DateDeSortie ? film.DateDeSortie|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ film.Realisateur }}</td>
                <td>{{ film.Acteurs }}</td>
                <td>{{ film.Nationalite }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
</div>
{% endblock %}
