{% extends 'base.html.twig' %}

{% block title %}Séance{% endblock %}

{% block body %}
<div class="AdminBox">
    <h1>Séance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ s_ance.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ s_ance.Date ? s_ance.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PlacesDisponibles</th>
                <td>{{ s_ance.PlacesDisponibles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">back to list</a>

    <a href="{{ path('seance_edit', {'id': s_ance.id}) }}">edit</a>

    {{ include('seance/_delete_form.html.twig') }}
</div>
{% endblock %}
